/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

body {
  background-repeat: no-repeat;
  user-select: none;
  background-size: cover;
  background-position: center;
  font-family: "Notable", sans-serif;
  font-style:oblique;
  color: white;
  text-shadow: 2px 2px black;
}

.hero-picture {
  width: 100%;
  height: 120vh;
  object-fit: cover;

}

.hero-info {
  align-items: end;
  background-color: gray;
  justify-content: center;
  font-size: large;
  
}

.hero-info-card {
  justify-content: center;
  align-items: end;
  background-color: gray;
}


.magic-text {
  padding: 1em;
  transition: all 3s;
  
}



.magic-text:hover {
  background: rgba(0, 0, 0, 0.087);
  border-radius: 5px;
  backdrop-filter:unset;
}

.magic-text:hover .secret-text {
  opacity: unset;
}

.secret-text {
  opacity: 0;
  transition: all 3s;
  font-weight: 200;
  font-size: 1.3rem;
}